# General
NODE_ENV=development
PORT=3000

# Postgres Database
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME=local
POSTGRES_DB_USER=<username>
POSTGRES_DB_PASSWORD=<password>
POSTGRES_DB_SSL=false
